<div class="bg-secondary mb-5">
    <div class="container py-5">
        <div class="d-flex flex-md-row flex-column justify-content-around ">
            <div class="d-flex flex-column mx-md-0 mx-auto">
                <h2 class="fw-bolder text-white">Clothy.</h2>
                <h6 class="text-white">4074,EBERT SUMMIT SUITE 357 Lake, <br> Lenoadchester</h6>
                <h6 class="text-white">+44 123 564 786</h6>
            </div>
            <div class="d-flex flex-column text-white mt-md-0 mt-3 mx-md-0 mx-auto">
                <h4 class="fw-semibold">Useful links</h4>
                <h6>Home</h6>
                <h6>About</h6>
                <h6>Product</h6>
                <h6>Contact</h6>
            </div>
            <div class="d-flex flex-column text-white mt-md-0 mt-3 mx-md-0 mx-auto">
                <h4 class="fw-semibold">Community</h4>
                <h6>Go Premium</h6>
                <h6>Team Place</h6>
                <h6>Refer a friend</h6>
                <h6>Gift Cards</h6>
            </div>
            <div class="d-flex flex-column text-white mt-md-0 mt-3 mx-md-0 mx-auto">
                <h4 class="fw-semibold">Our Menu</h4>
                <h6>Top selling</h6>
                <h6>Categories</h6>
            </div>
        </div>
    </div>
</div>