<div class="container-fluid bg-navy">
    <div class="container" style="padding: 100px 0 100px 0;">
        <div class="d-flex flex-md-row flex-column justify-content-between">
            <div class="d-flex flex-column">
                <h1 class="text-white mx-md-0 mx-auto">YOUR OUTFIT EXPRESS <br> WHO YOU ARE</h1>
                <h6 class="text-white my-4 ms-md-0 ms-4">Fashion is a foam of self-expression and autonamy atv at a <br> particular period of autonamy</h6>
                <button class="btn btn-kink py-2 mt-2 ms-md-0 ms-4 mb-md-0 mb-2" style="width: 150PX;" >Explore now</button>
            </div>
            <div class="mx-md-0 mx-auto">
                <img src="assets/1.webp" height="400px" alt="">
            </div>
        </div>
    </div>
</div>