<div class="container-fluid bg-sec">
    <div class="container">
        <div class="d-flex">
            <h1 style="font-size: 100px;font-weight: bold;color: white;" class="mx-auto">BEST OUTFIT</h1>
        </div>
        <div class="row mt-5">
            <div class="col-md-4">
                <h3 class="text-white">TRENDY COLLECTION</h3>
                <p class="text-white">Fashion is a form of self-expression and <br> autonamy atv at a particular period of autonamy</p>
                <button class="btn btn-kink fw-semibold">Get Started</button>
            </div>
            <div class="col-md-4 d-flex">
                <!-- <img src="assets/solidyellow.jpg" alt="" class="position-relative"> -->
                <img src="assets/illu.png" width="300px" class="mx-auto pb-5" alt="">
            </div>
            <div class="col-md-4">
                <p class="text-white">" Products finely crafted clothing places <br> inflenced from popular culture and street fashion <br> and high-end fashionists a like "</p>
                <div class="d-flex flex-row">
                <div class="d-flex flex-column fw-bolder text-white">
                    <h3 class="fs-1">10K+</h3>
                    <p style="font-size: 10px;margin-top: -15px;">HAPPY CUSTOMERS</p>
                </div>
                <div class="d-flex flex-column ms-5 fw-bolder text-white">
                    <h3 class="fs-1">30K+</h3>
                    <p style="font-size: 10px;margin-top: -15px;">SMART PRODUCTS</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
