<div class="bg-pale-blue">
    <div class="container pt-5">
        <div class="d-flex flex-row justify-content-between pt-5">
            <h1>OUR <br> PRODUCTS </h1>
            <h6 class="fw-bold" style="margin-top: 70px;">See all <span><img src="assets/rr.png" width="20px" alt=""></span> </h6>
        </div>
        <div class="d-flex flex-md-row flex-column justify-content-around py-5">
            <img src="assets/download1.jpg" class="img-fluid mb-md-0 mb-3" alt="">
            <img src="assets/download2.jpg" class="img-fluid mb-md-0 mb-3" alt="">
            <img src="assets/download3jpg.jpg" class="mb-md-0 mb-3 img-fluid" alt="">
            <img src="assets/download3.jpg" class="mb-md-0 mb-3 img-fluid" alt="">
            <img src="assets/images.jpg" class="mb-md-0 mb-3 img-fluid" alt="">
        </div>
    </div>
</div>