<div class="container-fluid d-flex" style="background-image: url('assets/shirts.jpg'); height: 400px;background-position: center;background-size: cover;">
    <div class="container d-flex flex-md-row flex-column justify-content-between">
        <div class=" justify-content-center align-items-center d-flex">
            <h1 class="my-auto text-white" style="font-size: 90px;">25% <br> Discount</h1>
        </div>
        <div class="d-flex flex-column justify-content-around py-md-0 py-3">
            <h6 class="text-white">First Sign Up and you will get that <br> voucher</h6>
            <button class="btn btn-kink " style="width: 150px;">Claim Voucher</button>
        </div>
    </div>
</div>