<div class="bg-pale-blue">
<div class="container d-flex flex-md-row flex-column p-0 justify-content-between py-5">
    <div>
        <img src="assets/girl1.jpg" width="375px" class="p-0" style="max-height: 500px;" alt="">
    </div>
    <div class="d-flex flex-column">
        <div class="mx-auto">
            <h3 style="font-size: 80px;">TRADING <br> NOW <span><img src="assets/right-arrow.png" alt=""></span> </h3>
        </div>
        <div style="width: 375px;margin-top: 20px;">
            <img src="assets/landscape.jpg" class="img-fluid" alt="">
        </div>
    </div>
    <div>
        <img src="assets/girl2.jpg" width="375px" style="max-height: 500px;" alt="">
    </div>
</div>
</div>